





<div class="span9">
<% form_for :home, :url => { :action => :submit_contact },:html=>{:class=>"well"}  do |form| %>
        <label>Label name</label>
        <input class="span3" placeholder="Type something…" type="text"> <span class="help-inline">Associated help text!</span>
        <label class="checkbox">
          <input type="checkbox"> Check me out
        </label>
        <button type="submit" class="btn">Submit</button>
<% end %>
  </div>