

<div class="row">

  <div class="span8 offset1">
    
    <h2>Welcome to Charitizer!</h2>

    <h2>Rules</h2>
  
    <%= ShopifyAPI::Shop.current.email %>
    <table class="table table-striped">
      <% if @rules.count == 0 %>
        <tr>
          <td><em>You don't have any rules.</em></td>
        </tr>
      <% else %>
                  <thead>
            <tr>
              <th>Rule Name</th>
              <th>Products</th>
              <th>Raised</th>
            </tr>
          </thead>

          <tbody>
            <% @rules.each do |rule| %>
              <tr>
                <td><%= rule.name %></td>

                <td>
                  <% if !rule.product_ids.nil? %>
                  <% for pid in rule.product_ids %>
                  <% for p in @products %>
                    <% if p.id.to_i == pid.to_i %>
                      <%= p.title %>
                    <% end %>
                  <% end %>  
                  <% end %>
                  <% end %>
                </td>


                <td></td>


             <!--   <td><%= link_to 'Show', rule %></td> -->
              </tr>
            <% end %>
          </tbody>

      <% end %>
    </table>

  <div style="float:right">
   <a class="btn" type="submit" href="/create">Create</a>
   <a class="btn" type="submit" href="/view">Edit</a>
 </div>

    <h2>Total Raised</h2>
        <table class="table table-striped">
            <thead>
            <tr>
              <th>Today</th>
              <th>This Week</th>
              <th>This month</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
    </table>
 <div style="float:right">
   <a class="btn" type="submit" href="/payments">View payments</a>
 </div>

<!--
    <canvas id="myChart" width="650" height="300"></canvas>
-->
    
  </div> <!-- span8 / right-column -->
</div>