
<link href='https://cdn.rawgit.com/ShingJin/widget_me/49ed5be34bc1004773821ab315fbf486b7c9312f/jquery.widget.css' media="screen" rel="stylesheet">
 <script src='https://cdn.rawgit.com/ShingJin/widget_me/95179d5173c3eb402c71e661731eec917f60f376/jquery.widget.js'></script>

<style type="text/css">

.fm_clean .widget_trigger_text {
    right: -30px;
    font-size:13px;
}

#widget_trigger.right-bottom {
    width: 30px;
    height: 130px;
}

</style>

<script type="text/javascript">
  

    fm_options = {
        position: "left-bottom",
        
    };
    //init widget_me plugin
    fm.init(fm_options);


</script>
<p>Show a widget on your store that you donate to charity!</p>
<br>
<p>Just change your options within fm_options={} and copy this into your theme.liquid file</p>
<p>Available colors:  </p>
<a href="http://www.colorpicker.com/" target='_blank'>http://www.colorpicker.com/</a>
<br>
<br>


<textarea style="width:95%" rows="12">
<link href='https://cdn.rawgit.com/ShingJin/widget_me/49ed5be34bc1004773821ab315fbf486b7c9312f/jquery.widget.css' media="screen" rel="stylesheet">
 <script src='https://cdn.rawgit.com/ShingJin/widget_me/95179d5173c3eb402c71e661731eec917f60f376/jquery.widget.js'></script>


<script type="text/javascript">
          fm_options = {
                position: "left-bottom",
                widget_title: "We Donate To Charity!",
                widget_text: "With your help, we've raised [amount_all_time] for charity!",
                widget_color: "grey",
                widget_text_color: "black"
              
            };
            fm.init(fm_options);</script></textarea>

