/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require twitter/bootstrap
 *= require imports
 *= require shopify_app_buttons
 *= require shopify_app
*/

.sign
{
	height:50px;
	float:left;
	padding-top:5px;
	margin-right:5px;
}

.inline_label{
	display:inline-block;


}

.heading{
	color:rgb(153, 153, 153);
}

.navbar .nav > li > a {
    float: none;
    padding: 10px 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-shadow: 0px 1px 0px rgb(255, 255, 255);
}


.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
    background-color: transparent;
    color: rgb(255, 255, 255);
    text-decoration: none;
}