<br>
<div class="row">
<div class="span8 offset2">
<h3>Choose notification frequency</h3>


<br>

<%= @orders.first.line_items %>

<%= @orders.to_json %>
<%= @amount %>

<p>You will get a reminder from us about how much you have to donate every</p>
<div class="controls">
              <label class="checkbox inline">
                <input id="inlineCheckbox1" value="option1" type="checkbox"> day
              </label>
              <label class="checkbox inline">
                <input id="inlineCheckbox2" value="option2" type="checkbox"> week
              </label>
              <label class="checkbox inline">
                <input id="inlineCheckbox3" value="option3" type="checkbox"> month
              </label>
            </div>
            <br>
<a class="btn" href="#">Submit</a>
</div>
</div>